@media only screen and (max-width: 900px) {
    #infoAlbum {
        clear: both;
        margin-top: 10px;
    }
    ul#infoPistes, ul#pistes {
        margin-left: 0px;
    }
    #couverture {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        float: none;
    }
    #couverture img {
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    .numeroPiste {
        position: relative;
        width: 75px;
    }
    .etiquette {
        display: block;
        float: none;
    }
    ul#infoPistes li.dureePiste, ul#pistes li div.dureePiste {
        display: none;
        float: none;
    }
}

@media only screen and (max-width: 400px) {
    ul#infoPistes li.numeroPiste {
        display:none;
    }
    ul#infoPistes li.numeroPiste-phone {
        display: inline-block;
        width: 28px;
    }
    ul#pistes li div.numeroPiste {
        width: 28px;
    }
    ul#pistes li {
        padding: 15px 0;
    }
    .nav li.connexion-phone {
        display: block;
    }
    .nav li.connexion {
        display: none;
    }
}