body {
    margin: 0px;
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

#navbar {
    margin-bottom: 25px;
}

.nav {
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 20px;
    padding-right: 40px;
    padding-top: 20px;
    border-bottom: 1px solid #eeeeee;
    height: 20px;
    color: #a8b1b6;
}

.nav li {
    display: inline-block;
    margin-right: 10px;
}

.nav li.connexion {
    float: right;
}

.nav li.titlePage {
    color: #008fd5;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

#content {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: #32393d;
    font-size: 22px;
    font-weight: normal;
}

#couverture {
    height: auto;
    float: left;
    margin-right: 30px;
    width: 350px;
}

#couverture img {
    border: none;
    width: 350px;
}

#nomAlbum {
    margin-bottom: 0;
}

#nomArtiste {
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 0;
}

#nomArtiste a {
    color: #a5a5a5;
    text-decoration: none;
}

#nomArtiste a:hover {
    text-decoration: underline;
}

#genre {
    font-size: 11px;
    font-style: normal;
    font-weight: lighter;
    margin-bottom: 0;
    margin-top: 10px;
}

#genre a {
    background-color: #FFFFFF;
    border: 1px solid #008fd5;
    border-radius: 6px;
    color: #008fd5;
    padding: 5px;
    text-decoration: none;
}

#genre a:hover {
    background-color: #008fd5;
    color: #FFFFFF;
}

.etiquette {
    color: #008fd5;
    float: right;
    font-size: 10px;
    font-weight: lighter;
}

#ListePistes {
    margin-top: 33px;
}

ul#infoPistes {
    border-bottom: 1px solid #efefef;
    color: #333333;
    font-size: 14px;
    margin-bottom: 0;
    margin-left: 374px;
    margin-top: 30px;
    padding-bottom: 8px;
    padding-left: 0;
}

ul#infoPistes li {
    display: inline-block;
}

.numeroPiste {
    width: 125px;
    position: relative;
}

.numeroPiste a.btn-play {
    display: none;
    font-size: 23px;
    position: absolute;
    top: -23px;
    color: #008fd5;
    text-decoration: none;
}

.dureePiste {
    float: right;
}

ul#pistes {
    margin-bottom: 0;
    margin-left: 374px;
    margin-top: 2px;
    padding-left: 6px;
}

ul#pistes li {
    border-bottom: 1px solid #f5f5f5;
    color: #333333;
    font-size: 14px;
    padding: 15px 7px;
}

ul#pistes li:hover {
    color: #008fd5;
    cursor: pointer;
}

ul#pistes li div {
    display: inline-block;
}

ul#pistes .numeroPiste, ul#pistes .dureePiste {
    font-size: 12px;
}

#lienItune {
    margin-top: 15px;
    text-align: center;
}

#lienItune a {
    background: url("https://linkmaker.itunes.apple.com/htmlResources/assets/fr_ca//images/web/linkmaker/badge_itunes-lrg.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 40px;
    overflow: hidden;
    width: 110px;
}
