

@media only screen and (max-width: 1080px) {
    /* Ajoute le bouton + pour affichier la bio de l'artiste */
    #afficherBioBtn {
        display: none;
    }

    /* Enlève l'espace entre le genre et l'icone iTunes */
    #genre {
        display: -webkit-inline-box;
        margin-bottom: 20px;
    }

    /* Cache le bouton - pour réduire la bio de l'artiste */
    #reduireBioBtn {
        display: none;
    }

    /* Cache la bio de l'artiste */
    #bioText {
        font-size: 12px;

    }
}


@media only screen and (max-width: 1000px) {


    #reduireBioBtn {
        display: none;
    }

    #iTunes img{
        position: absolute;
        top: 0; bottom:0; left: 0; right:0;
        margin-top: 480px;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: auto;
    }


    #afficherBioBtn {
        display: none;
    }
    #liens {
        text-align: center;
    }
    #description {
        height: auto;
    }

    #artistInfos {
        clear: both;
        text-align: center;
    }
 /*   #bioText {
        display: none;

    }*/

    #albumList ul {
        vertical-align: top;
        display: block;
    }

    #concert{
        margin-left: 0px;
        margin-top: 100px;
    }
    #center{
        width: auto;
    }

}

/*@media only screen and (max-width: 630px) {

    .group img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #description {

        display: inline-block;
    }


    #iTunes {
        margin-left: 0px;
    }
    #liens {
        height: 14px;
    }

}*/

@media only screen and (max-width: 360px) {

    #iTunes img{
        margin-top: 260px;
    }
    #bioText {
       display: none;

    }

    #albumList img {
        margin-right: 5px;
        width: 70px;
        height: 70px;
    }

    ul.allAlbums li div {
        display: inline-table;
    }


    #description {
        display: block;
        height: 200px;
        margin-bottom: 20px;
    }

    .album {
        width: 65px;
        margin-right: 0px;
    }

    #content {
        padding: 20px;
    }

    #concert{
        margin-top: 50px;
        width: auto;
    }
    #studio{
        width: auto;
    }
}


