/* Fichier de style de la page artist */

/*----------------------------------------------------------------Contenu----------------------------------------------------------------------------------------------------------------*/

/* Marges du contenu */
#content {
	margin-bottom: 100px;
	padding: 45px;
}
 

/*----------------------------------------------------------------Description------------------------------------------------------------------------------------------------------------*/

#description {
	height: 224px;
	margin-bottom: 20px;
}

/*---------------------------Photos de l'artiste------------------------------------------------------------------------*/

/* Cache les photos de l'artiste pour le carrousel */
.group {
	display: none;
}

/* Marges des photos de l'artiste */
.group img  {

		float: left;
		margin-right: 20px;
		margin-bottom: 20px;
		width: 400px;
		max-width: 70%;
}

/* Hover des photos de l'artiste */
.group img:hover {

		box-shadow: 0 0 10px #000000;
}

.title{
    max-width: 130px;
}

a{
    text-decoration: none;
}


/*---------------------------Bio de l'artiste---------------------------------------------------------------------------*/

/* Style du nom de l'artiste et de sa bio */
#artistInfos a {
	margin-bottom: 20px;
}


/* Marges du nom de l'artiste et de sa bio */
#artistInfos a {
	margin-bottom: 20px;
}

/* Marges du nom de l'artiste et de sa bio */
#artistInfos {
		vertical-align: top;
	    display: block;
}



#afficherBioBtn {
	display: none;
}

#reduireBioBtn {
	display: none;
}

/* Marges de la bio */
#bio {
    text-align: justify;
    text-justify: inter-word;
}

/*---------------------------Genre et lien iTunes-----------------------------------------------------------------------*/

/* Marges du genre de l'artiste */
#genre {
    font-size: 11px;
    font-style: normal;
    font-weight: lighter;
    margin-bottom: 70px;
    margin-top: 20px;
}



/* Style du lien vers iTunes */
#iTunes {
	margin-left: 145px;
}


/*----------------------------------------------------------------Liste des albums-------------------------------------------------------------------------------------------------------*/

/* Hover sur la pochette d'album */
.album img:hover {

		box-shadow: 0 0 10px #000000;
}

/* Position des pochettes d'album */
.album {
	width: 103px;
	margin-right: 50px;
    position: relative;
	vertical-align:middle;
}

/* Marges de la section sur les albums */
#albumList {
    margin-top: 50px;
}

#albumList ul {
	vertical-align: top;
	display: inline-block;
}

/* Dimensions les pochettes d'album */
#albumList img {
		width: 100px;
		height: 100px;

}

ul.allAlbums {
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 2px;
	padding-left: 0px;
}


ul.allAlbums li {
    border-bottom: 1px solid #f5f5f5;
    color: #333333;
    font-size: 14px;
    padding: 15px 7px;
}


ul.allAlbums li:hover {
    color: #008fd5;
    cursor: pointer;
}

ul.allAlbums li:hover .album img {
	box-shadow: 0 0 10px #000000;
}



ul.allAlbums li div {
    display: inline-block;
}

ul.allAlbums li#title  {
	vertical-align: center;
}

/*---------------------------Albums Studio------------------------------------------------------------------------------*/

#studio {
		width: 436px;
} 



/*---------------------------Albums en concert--------------------------------------------------------------------------*/


#concert{
		width: 436px;
		margin-left: 45px;
	
}


#center {
	width: 922px;
	margin:0 auto;
}


























