body {
    margin: 0px;
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
}

/*.unMenu {}*/

#menu_barre {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 60px;
}

[id*="menu_item_"] {
    float: left;
    color: #008fd5;
    background-color: #ffffff;
    font-weight: bold;
    padding: 14px 6px;
}

#menu_item_logo {
    margin: 0;
    padding: 0;
    width: 200px;
}

#menu_logo {
    width: 200px;
    height: 61px;
    margin: 0;
    padding: 0;
    z-index: 10;
}

#menu_item_btn_conn:hover, #menu_item_accueil:hover, #menu_item_listes_lectures:hover, #menu_item_utilisateurs:hover, #menu_item_parametres:hover, #menu_item_btn_deconnexion:hover {
    background-color: #008fd5;
    color: #FFFFFF;
    cursor:pointer;
}

#menu_item_btn_conn, #menu_item_btn_deconnexion {
    float: right;
}

#menu_item_btn_deconnexion {
    display: none;
}

#menu_item_util_courant {
    float : right;
    width: auto;
    cursor:default;
}

#menu_icone_utilisateur {
    float: right;
    height: 32px;
    padding: 0px;
}

#menu_user_name {
    float: right;
    padding-top: 10px;
    padding-bottom: 2px;
}

/*#menu_item_recherche {}*/

#menu_logo_rech {
    width: 34px;
    float: left;
}

#menu_formulaire_rech {
    padding: 0px;
    margin: 0px;
    float: left;
}

#menu_rech_btetxt {
    padding: 2px;
    margin: 2px;
    height : 20px;
}

/*#menu_item_accueil {}*/

/*#menu_item_listes_lectures {}*/

/*#menu_item_utilisateurs {}*/

/*#menu_item_parametres {}*/

hr {
    margin: 0px;
    padding: 0px;
}

#cadre_principal{
    width: 100%;
    height: 1000px;
}

@media screen and (max-width:1200px) {
    #menu_barre {
        height: 20px;
    }
    
    #menu_logo {
        width: 66px;
        height: 20px;
    }

    [id*="menu_item_"] {
        font-size: 8px;
        font-weight: normal;
        height: 20px;
        padding: 1px 8px;
    }

    [id*="menu_item_"]:hover > .menu_etiquettes {
        display: inline;
    }

    #menu_item_logo {
        width: 66px;
    }
    
    #menu_icone_utilisateur {
        height: 16px;
    }
    
    #menu_user_name {
        padding-top: 5px;
        padding-bottom: 2px;
    }
    
    #menu_logo_rech {
        width: 18px;
    }
    
    #menu_formulaire_rech {
        height : 20px;
        float: left;
    }
    
    #menu_rech_btetxt {
        height : 12px;
        font-size: 10px;
        margin: 0px;
        padding: 1px;
    }
    
    .menu_etiquettes {
        display: none;
    }
    
}


@media screen and (max-width:600px) {
    #menu_logo {
        float:left;
        width: 200px;
        height: 61px;
        z-index: 100;
    }
    
    #menu_barre {
        height: 60px;
        transition: 0.5s;
    }
    
    #menu_barre:hover {
        width: 100%;
        height: 420px;
        overflow-y: hidden;
        z-index: 100;

        transition: 0.5s;
    }
    
    [id*="menu_item_"] {
        font-size: 16px;
        width: 100%;
        padding: 14px;
        float: left;
        height: auto;
    }

    #menu_item_btn_conn {
        clear: both;
        float: left;
        text-align: left;
        width: 100%;
    }
    
    #menu_item_btn_deconnexion {
        float: left;
    }

    #menu_icone_utilisateur {
        height: 32px;
    }

    #menu_user_name {
        padding-top: 10px;
        padding-bottom: 2px;
    }


    #menu_item_logo {
        width: 200px;
    }

    #menu_item_recherche {
        clear: both;
        height: 32px;
    }

    #menu_logo_rech {
        width: 34px;
    }

    #menu_formulaire_rech {
        width: auto;
        height: auto;
    }

    #menu_rech_btetxt {
        height : 20px;
        font-size: 16px;
        margin: 2px;
        padding: 2px;
    }
    
    #menu_item_accueil {
        clear: both;
    }

    .menu_etiquettes {
        display: inline-block;
    }
}