body {
    margin: 0px;
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
/*  color: #000000;
    background-color: #ffffff;  */
}

#menu_barre {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 60px;
}

#menu_logo {
    width: 90px;
    height: 60px;
    margin: 0;
    padding: 0;
    z-index: 100;
}

[id*="menu_item_"] {
    float: left;
    color: #0000FF;
    background-color: #ffffff;
    font-weight: bold;
    /*text-transform: uppercase;
    width: 190px;
    height: 60px;*/
    padding: 14px;
}

[id*="menu_item_"]:hover {
    background-color: #0000ff;
    color: #FFFFFF;
}

#menu_item_btn_conn {
    float: right;
}

#menu_item_util_courant {
    float : right;
    width: auto;
}

#menu_item_util_courant:hover {
    color: #0000FF;
    background-color: #ffffff;
}

#menu_item_logo {
    margin: 0;
    padding: 0;
    width: 100px;
}

#menu_item_logo:hover {
    color: #0000FF;
    background-color: #ffffff;
}

#menu_item_recherche:hover {
    color: #0000FF;
    background-color: #ffffff;
}
#menu_formulaire_rech {
    display: inline;
    padding: 0px;
    margin: 0px;
    /*width : 190px;*/
}

#menu_formulaire_rech:hover {
    color: #0000FF;
    background-color: #ffffff;
}

#menu_rech_btetxt {
    /*float: right;*/
    padding: 2px;
    margin: 2px;
    /*width : 152px;*/
    height : 20px;
}

/*a:link, a:visited {
    display: block;
    font-weight: bold;
    color: #0000FF;
    background-color: #ffffff;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover, a:active {
    background-color: #0000ff;
    color: #FFFFFF;
}*/

#cadre_principal{
    width: 100%;
    height: 1000px;
}

@media screen and (max-width:1200px) {
    #menu_barre {
        height: 20px;
    }
    
    #menu_logo {
        width: 32px;
        height: 20px;
    }

    [id*="menu_item_"] {
        font-size: 8px;
        font-weight: normal;
        height: 20px;
        padding: 1px 6px;
    }

    #menu_item_logo {
        width: 40px;
    }
    
    #menu_icone_rech {
        width: 20px;
    }
    
    #menu_formulaire_rech {
        width: 120px;
        height : 20px;
    }
    
    #menu_rech_btetxt {
        width: 88px;
        height : 12px;
        font-size: 8px;
        margin: 0px;
        padding: 1px;
    }
    
}


@media screen and (max-width:600px) {
    #menu_logo {
        width: 90px;
        height: 60px;
        z-index: 100;
    }
    
    #menu_barre {
        height: 60px;
        transition: 0.5s;
    }
    
    #menu_barre:hover {
        width: 100%;
        height: 360px;
        overflow-y: hidden;
        z-index: 100;

        transition: 0.5s;
    }
    
    [id*="menu_item_"] {
        font-size: 16px;
        width: 100%;
        padding: 14px;
        float: none;
        height: auto;
    }

    #menu_item_logo {
        width: 100px;
    }

    #menu_formulaire_rech {
        width: auto;
        display: inline;
        /*float: left;*/
    }

    #menu_item_btn_conn {
        text-align: right;
        width: auto;
    }
}