.glyphicon-trash {
	padding: 3px;
	float: right;
}

#modifPoubelle {
	padding-top: 6px;
}

.glyphicon-pencil {
	padding: 3px;
	padding-right: 12px;
	float: right;
}

.glyphicon-floppy-disk {
	font-size: 16px;
}

#Col2 {
    width: 80px;
}

#table_contenu_liste {
	display: none;
}