/* Fichier réutilisable pour toutes les pages */

/* Police et disposition de la page */
body {
    margin: 0px;
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
}

#content {
    padding: 30px;
}

/* Enlève le style par défaut des listes */
ol, ul {
    list-style: none;
    padding: 0px;
}

/* Style par défaut des titres */
h1 {
    color: #32393d;
    font-size: 22px;
    font-weight: normal;
}

h4 {
    color: #32393d;
    font-size: 18px;
    font-weight: normal;
}

/* Style par défaut du genre musical */
.btn-primary {
    background-color: #ffffff;
    border: 1px solid #008fd5;
    border-radius: 4px;
    color: #008fd5;
    font-size: 12px;
    padding: 5px;
}

#genre a {
    text-decoration: none;
}

.btn-primary:hover {
    background-color: #008fd5;
    border: 1px solid #008fd5;
    color: #FFFFFF;
}