<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../css/tous.css">
    <link rel="stylesheet" href="../css/authentification.css">
</head>
<body>
    <div id="zone_connexion">
        <div id="zone_connexion_texte">
            <p id="zone_connexion_texte_user">Utilisateur :</p>
            <p id="zone_connexion_texte_password">Mot de passe :</p>                    
        </div>
            
        <div id="zone_connexion_textbox">
            <form>
                <input id="zone_connexion_textbox_user" type="text" name="user">
            </form>
                    
            <form>
                <input id="zone_connexion_textbox_password" type="password" name="password">
            </form>
            
            <div id="zone_connexion_bouton_connexion" onclick="click_bouton_connexion()">Connexion</div>
        </div>
    </div>
    <script src="../js/authentification.js"></script>
</body>
</html>
