<script id="templateListeLecture" type="text/template">
    <!--/* Default panel contents */-->
    <div class="panel-heading">Listes de lectures</div>

    <!--/* Table */-->
    <table class="table table-hover">
        <colgroup>
            <col id='Col1'>
            <col id='Col2'>
        </colgroup>                    
        <tbody id="tableListesLectures">
            <% _.each(tasks, function(task){ %>
                    <tr class="tableRowItem" id="<%= task.id %>">
                        <td class="listname"><%=task.task%></td>
                        <td>
                            <span class="glyphicon glyphicon-trash" data-id="<%= task.id %>"></span>
                            <span class="glyphicon glyphicon-pencil" data-id="<%= task.id %>"></span>
                        </td>
                    </tr>
            <% }); %>
        </tbody>
    </table>
    <div class="panel-footer">
        <div class="input-group" id='divAjouterListesLectures'>
            <input type="text" class="form-control" id="txtNouvListesLectures">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button" id="boutonAjouterListe">Ajouter</button>
            </span>
        </div>
    </div> <!--/* panel-footer */-->
</script>                 
