body {
		background-image: url("http://lh3.googleusercontent.com/-nbVfS-hBPfY/UyvOZOaJU4I/AAAAAAAAApc/UGN9oN2BTwU/s862-no/midnight.jpg");

		
}


#main {
		background:rgba(255,255,255,0.5);
		width: 50%;
		height:100%;
		color: #000000;
		font-family: Dotum;
		font-size: 20px;
		line-height: 50px;
		background-color: white;
		margin-left: auto;
		margin-right: auto;
		min-width: 400px;
	}

#iTunesLink {
		display: none;
}

#artistInfos img:hover #iTunesLink {
		display: block;
}

#description {
		height: 100%;
		margin-top: 20px;
		margin-left: 20px;
}

.album{
	display: inline-block;
	min-width: 350px;

}


.group {
	display: none;
}


.group img  {

		float: left;
		margin-top: 20px;
		margin-left: 20px;
		margin-right: 20px;
		width: 300px;
		max-width: 70%;
		max-height: 40%px;
}


#artistPicture img:hover {

		box-shadow: 0 0 10px #000000;
}

#artistInfos {
		vertical-align: top;
		margin-top: 20px;
	    display: inline-block;
}

#artistInfos img {
		max-width: 1100px;
		max-height: 40px;
}


#albumList {
		height: 100%;
		margin-top: 150px;
		margin-left: 20px;

}

#studio h3 {
		
		margin-top: 0px;

}

#studio {
		margin-right: 100px;
		margin-left: 50px;
		margin-bottom: 50px;
}

#concert{
	margin-right: 100px;
margin-left: 50px;
margin-bottom: 50px;
}

#albumList  img{
		margin-right: 10px;
		width: 100px;
		height: 100px;

}




#menu {
	    width: 100%;
		height: 100px;
		background-color: #000000;
		background-repeat: no-repeat;
}