                <!--/* Default panel contents */-->
                <div class="panel-heading">Listes de lectures</div>

                <!--/* Table */-->
                <table class="table table-hover">
                    <colgroup>
                        <col id='Col1'>
                        <col id='Col2'>
                    </colgroup>                    
                    <tbody id="tasktable">
                        <% _.each(listesLectures, function(listes){ %>
                            <tr id="<%= listes.id %>">
                                <td class="input-group">
                                    <input type="text" class="form-control" value="<%=listes.name%>">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="button">
                                            <span class="glyphicon glyphicon-floppy-disk" data-id="<%= listes.id %>"></span>
                                        </button>
                                    </span>
                                </td>
                                <td>
                                    <span class="glyphicon glyphicon-trash" data-id="<%= listes.id %>"></span>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>

                <!--/* Panel-footer incluant zone de texte et bouton ajouter. */-->
                <div class="panel-footer">
                    <div class="input-group" id='divAjouterTexte'>
                        <input type="text" class="form-control" id="txtNouvListe">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button" id="boutonAjouterListe">Ajouter</button>
                        </span>
                    </div>
                </div> <!--/* panel-footer */-->
