                <!--/* Default panel contents */-->
                <div class="panel-heading">Liste de lecture</div>

                <!--/* Table */-->
                <table class="table table-hover">
                    <colgroup>
                        <col id='Col1'>
                        <col id='Col2'>
                        <col id='Col3'>
                        <col id='Col4'>
                    </colgroup>                    
                    <tbody id="listeLecture">
                        //Header table des pistes.
                        <tr>
                            <th>Nom piste</th>
                            <th>Artiste</th>
                            <th>Album</th>
                            <th>Durée</th>
                        </tr>

                        //Affichage des pistes.
                        <% _.each(tracks, function(piste){ %>
                            <tr id="<%= piste.id %>">
                                <td class="input-group">
                                    /*<div class="col-md-1">
                                     //   <button class="glyphicon glyphicon-play"></button>
                                    </div>*/
                                    <div class="col-md-1">"<%=piste.trackName%>"</div>
                                    <div class="col-md-1">"<%=piste.artistName%>"</div>
                                    <div class="col-md-1">"<%=piste.collectionName%>"</div>
                                    <div class="col-md-1">"<%=piste.trackTimeMillis%>"</div>
                                    /*<span class="input-group-btn">
                                        <button class="btn btn-primary" type="button">
                                            <span class="glyphicon glyphicon-floppy-disk" data-id="<%= listes.id %>"></span>
                                        </button>
                                    </span>*/
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>

                <!--/* Panel-footer incluant zone de texte et bouton ajouter. */-->
                /*<div class="panel-footer">
                    <div class="input-group" id='divAjouterTexte'>
                        <input type="text" class="form-control" id="txtNouvListe">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button" id="boutonAjouterListe">Ajouter</button>
                        </span>
                    </div>
                </div> <!-- panel-footer -->*/
